.item-page {

  text-align: center;


  .checkout-button{
    position: relative;
    left: 45%;

  }

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .description{
    font-size: 20px;
  }

  .price{
    font-size: 20px;
  }

}
